@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
body{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    
}
button{
    margin: 2%;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 25px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}
button:hover{
    background: #2980B9;  
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); 


}
.footer{
    
    left: 0;
    bottom: 0;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    position: fixed;
}
.footer h3{
    margin: 0%;
}